<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, null, null, ~{::.container}, null)}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문</title>
</head>
<body>
<div class="container py-5">
    <section class="h-100 h-custom" style="background-color: #d2c9ff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <form method="post" action th:object="${order}">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black">주문/결제하기</h1>
                                                <h6 class="mb-0 text-muted"
                                                    th:text="${orderInfo.products.size()} + '개의 상품'">
                                                    1개의 상품
                                                </h6>
                                            </div>

                                            <h5 class="fw-bold mb-0 text-black">배송 정보</h5>
                                            <hr class="mb-4">
                                            <div class="card mb-5 pt-3 pb-1 px-3">
                                                <div class="fw-bold my-2 text-black">수령인 정보</div>
                                                <hr class="mt-0 mb-2">
                                                <input type="text" class="form-control px-3 py-2 mb-2"
                                                       th:field="*{receiverName}" placeholder="수령인 이름"
                                                       required>
                                                <div class="field-error-without-top-margin" th:errors="*{receiverName}">
                                                    수령인 이름 오류
                                                </div>
                                                <input type="text" class="form-control px-3 py-2 mb-2"
                                                       th:field="*{receiverPhone}" placeholder="수령인 휴대폰 번호"
                                                       required>
                                                <div class="field-error-without-top-margin"
                                                     th:errors="*{receiverPhone}">
                                                    수령인 휴대폰 번호 오류
                                                </div>

                                                <div class="fw-bold my-2 text-black">배송지</div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item" th:each="address : ${addresses}">
                                                        <div>
                                                            <input type="radio" name="deliveryAddress"
                                                                   th:id="|address${addressStat.index}|"
                                                                   th:value="|${address.detail} (${address.zipcode})|"
                                                                   th:attr="checked=${address.defaultAddress.equals('Y')}"
                                                                   class="form-check-input me-1">
                                                            <label th:for="|address${addressStat.index}|"
                                                                   th:text="|${address.detail} (${address.zipcode})|"
                                                                   class="form-check-label"></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <h5 class="fw-bold mb-0 text-black">주문 상품</h5>
                                            <hr class="mb-4">
                                            <div class="row mb-4 d-flex justify-content-between align-items-center text-center"
                                                 th:each="product : ${orderInfo.products}">

                                                <input type="hidden"
                                                       th:name="|orderProducts[${productStat.index}].id|"
                                                       th:value="${orderInfo.products[__${productStat.index}__].productId}">
                                                <input type="hidden"
                                                       th:name="|orderProducts[${productStat.index}].quantity|"
                                                       th:value="${orderInfo.products[__${productStat.index}__].quantity}">

                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img th:src="${product.imageUrl}" class="img-fluid rounded-3"
                                                         th:alt="${product.productName}">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="mb-0" th:text="${product.productName}">
                                                        상품명
                                                    </h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <div class="mb-0" th:text="|주문수량: ${product.quantity}개|">
                                                        수량
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="mb-0"
                                                        th:text="|${#numbers.formatInteger(product.totalProductPrice, 0, 'COMMA')}원|">
                                                        25,000원
                                                    </h6>
                                                </div>
                                            </div>
                                            <hr class="my-4">

                                            <div class="pt-5">
                                                <h6 class="mb-0">
                                                    <a href="/carts"
                                                       class="text-body link-underline link-underline-opacity-0">
                                                        <i class="fas fa-long-arrow-alt-left me-2"></i>장바구니로</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey">
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5 mt-2 pt-1">결제 상세</h3>
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase">총 상품 가격</h5>
                                                <h5 th:text="|${#numbers.formatInteger(orderInfo.totalPrice, 0, 'COMMA')}원|">
                                                    25,000원
                                                </h5>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase">배송비</h5>
                                                <h5>3,000원</h5> <!-- TODO: 판매자 삭제 후 수정 필요 -->
                                            </div>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">주문 금액</h5>
                                                <h5 th:text="|${#numbers.formatInteger(orderInfo.totalPrice + 3000, 0, 'COMMA')}원|">
                                                    28,000원
                                                </h5>
                                            </div>

                                            <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark">
                                                주문하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
