<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, null, null, ~{::.container}, null)}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문 상세</title>
</head>
<body>
<div class="container py-5">
    <div class="col-lg-6 mx-auto d-grid gap-3">
        <div class="card py-2 px-3">
            <div class="text-secondary"
                 th:text="|${#temporals.format(order.createdAt, 'yyyy MM.dd hh:mm:ss')} 주문|"></div>
            <div class="text-secondary" th:if="${order.orderStatus.name == 'CANCEL'}"
                 th:text="|${#temporals.format(order.modifiedAt, 'yyyy MM.dd hh:mm:ss')} 주문 취소|"></div>
        </div>

        <div class="card py-2 px-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row" th:each="op : ${order.orderProducts}">
                    <div class="col-md-2 col-lg-2 col-xl-2 align-self-center">
                        <img th:src="${op.imageUrl}" th:alt="${op.productName}" class="img-fluid rounded-3"
                             style="max-width: 80px; max-height: 80px">
                    </div>
                    <div class="d-flex flex-column align-self-center">
                        <div class="mb-0">
                            <h6 class="mb-0 fs-5" th:text="${op.productName}">
                                상품명
                            </h6>
                        </div>
                        <div class="mb-0">
                            <div class="mb-0 fw-semibold"
                                 th:text="|${#numbers.formatInteger(op.totalPrice, 0, 'COMMA')}원|">
                                25,000원
                            </div>
                        </div>
                        <div class="mb-0">
                            <div class="text-secondary mb-0" th:text="|주문수량: ${op.quantity}개|">
                                수량
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card pt-2 pb-3 px-3">
            <div class="fw-bold mt-2 mb-0 fs-5">배송지 정보</div>
            <hr class="mb-3">

            <div class="d-grid gap-2">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-auto text-secondary">수령인</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext py-0 mb-0"
                             th:text="${order.deliveryRequest.receiverName}">
                            홍길동
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-auto text-secondary">연락처</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext py-0 mb-0"
                             th:text="${order.deliveryRequest.receiverPhone}">
                            01011112222
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-auto text-secondary">배송지</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext py-0 mb-0"
                             th:text="${order.deliveryRequest.deliveryAddress}">
                            주소
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2 pt-2 pb-3 px-3">
            <div class="d-flex justify-content-between">
                <div class="fw-bold mt-2 mb-0 fs-5">최종 주문 금액</div>
                <div class="mt-2 mb-0 fw-semibold text-success align-self-center"
                     th:text="|${#numbers.formatInteger(order.totalPrice + 3000, 0, 'COMMA')}원|"></div>
            </div>
            <hr class="mb-3">

            <div class="d-grid gap-2">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-auto text-secondary">상품금액</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext fw-semibold py-0 mb-0"
                             th:text="|${#numbers.formatInteger(order.totalPrice, 0, 'COMMA')}원|">
                            200,000원
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-auto text-secondary">배송비</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext fw-semibold py-0 mb-0">
                            3,000원  <!-- TODO: 판매자 삭제 후 수정 필요 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="/orders/1/cancel" th:action="@{/orders/{orderId}/cancel(orderId=${order.id})}"
              th:if="${order.orderStatus.name == 'ORDER'}">
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary">
                    주문 취소
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
